//todo 配置Less
:global {
  @import 'base';
  @import 'vendor/normalize';
  @import 'custom';

  // Some best-practice CSS that's useful for most apps
  // Just remove them if they're not what you want
  html {
    box-sizing: border-box;
  }

  html,
  body {
    margin: 0;
    padding: 0;
    height: 100%;

  }

  .banner {
    text-align: center;
    height: 50px;
    background-color: #000;
    color: #fff;
    line-height: 50px;
    font-size: 1.3rem;
    border: 1px;
  }

  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
}

